
  .feature_ul li {
    line-height: 40px;
  }
  .feature_ul {
    list-style-type: none;
  }
  .feature-p-text{
    line-height: 25px;
  }

 .lead {
      font-size: 16px;
      font-weight: 300;
  }
  .media-object{
      width: 58px;
      height: 54px;
  }
  .media-object:hover{
      
  }
  .p-text{
    color: #505050;
    font-size: 16px;
    text-align: justify;
    line-height: 23px;
  }
  .select2{
    width: 100% !important;
  }



#heading_lawyer {
font-family: 'Open Sans',sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 3px;"
}


.radio-group{
    border-radius: 6px;
    font-size: 15px;
}
.active_class , .active_class:hover {
      background: #efefef;
      
  }
 
.menunav li>a:hover{
  background-color:#efefef;

}

#main img {
        height: 57px;
}
#main .quick-menu .media:hover .media-body h4, .quick-menu .media:hover .media-body p {
    color: #337ab7;
}

@media screen and (max-width:360px) {
  .w3-modal .w3-animate-right {
    margin-right:13px;
  }
  .radio-group{
    display: block!important;
  }
  .d-inline-flex{
    display: block!important;
  }

  #search_field{
    margin: 2px;
  }
  .menunav{
    padding: .5rem!important;
  }
  .find{
    border-bottom: 1px solid #dee2e6!important;
    margin-bottom: 20px;
    line-height: 20px;

    border-right:0px solid !important ;
  }
}

@media screen and (max-width:768px) {
  .menunav{
    padding: .5rem!important;
  }
  
}

@media(max-width: 600px) {
  .menunav{
    padding: .5rem!important;
  }
  
}

.navbar ul .dropdown-menu .row .list-unstyled {
  font-family: "Times New Roman", Times, serif;
}
.navbar ul {
   font-family: "Times New Roman", Times, serif;
 }


@media only screen and (max-width: 360px) {
 /*.profile-div{
    height: 470px;
  }*/
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .col-xm-12{
    margin-top: 10px;
  }
/*  .profile-div{
    height: 490px;
  }*/

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-xm-12{
    margin-top: 10px;
  }

}
@media only screen and (min-width: 992px) {
  .book{
    padding-right: 1px;

  }
  .viewP{
    padding-left: 0px;
  }
  /*.profile-div{
    height: 210px;
  }*/
} 

.activebtn{
  background: #b4ddf3;
}
.profile-div{
  min-height: 210px;
}
